# C#

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/.idea/*
**/.vs/*
**/.vscode/*
*.sln.DotSettings.user

# Rust
**/target/*
Cargo.lock

# Build output
*.pdb

# Publish output
Publish/*